  body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 img {
    display: block;
    width: 100%;
 }

 ul, ol {
    list-style-type: none;
 }

 .header {
border-bottom: 1px solid #e7e9fc;
 }

 .header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
 }

 .header-nav {
    display: flex;
    align-items: center;
 }

.logo {
    font: 700 18px / 1.17 "Raleway", sans-serif;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.accent {
    color: #2e2f42;
}

.menu-header {
    display: flex;
    gap: 40px;
}


.menu-header .menu-list {
    font: 500 16px / 1.5 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-list {
    padding: 24px 0;
}

.menu-list:hover,
.menu-list:focus {
    color: #404bbf
}

address {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list .contacts-link {
    font: 400 16px / 1.5 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf
}

.form {
    background: #2e2f42;
    padding: 188px 0;
}

.form-title {
    font: 700 56px / 1.07 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;

        max-width: 496px;
}

.form-button {
    background: #4d5ae5;
    font: 500 16px / 1.5 "Roboto", sans-serif;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;

        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF
}

.advantages-title {
    font: 500 20px / 1.2 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #2e2f42;
}

.advantages-text {
    line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.team {
    background: #f4f4fd;
}

.our-team {
background: #ffffff;
}

.team-list {
    background: #ffffff;
}

.team-title {
    font: 700 36px / 1.11 "Roboto", sans-serif;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-list-title {
    font: 500 20px / 1.2 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-text {
    font: 400 16px / 1.5 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

 .portfolio-main-title {
    font: 700 36px / 1.11 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list .portfolio-list-title {
    font: 500 20px / 1.2 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list .portfolio-list-text {
    font: 400 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #434455;
}

.footer {
    background: #2e2f42;
}

.footer .footer-text {
    font: 400 16px / 1.5 "Roboto", sans-serif;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.footer .accent {
    color:#f4f4fd;
}